:root {
  --clr-text: #3a3a3a;
  --clr-primary: #067e0a;
  --clr-primary-dark: #056108;
  --clr-accent: #613a6b;
  --clr-accent-dark: #47294e;
  --ff-logo: "Shadows Into Light";
  --ff-title: "Amatic SC";
  --ff-serif: "Crimson Text", serif;
}

html {
  box-sizing: border-box;
  font-family: var(--ff-serif);
  color: var(--clr-text);
  font-size: 1.125rem;
}

body {
  margin: 0;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}
section {
  padding: 3em 1em;
}

/* Typography */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h2,
h3 {
  font-family: var(--ff-title);
  line-height: 0.8;
  letter-spacing: 1px;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

p {
  margin-bottom: 0.85rem;
}

p:last-child {
  margin-bottom: 0;
}

.section-title-small {
  font-size: 2.5rem;
}

.text-primary {
  color: var(--clr-primary);
}

.logo {
  font-family: var(--ff-logo);
  text-align: center;
}
.logo a {
  text-decoration: none;
  color: black;
}

/* NAvigation */

header {
  padding: 1em 0 2em;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

nav a {
  display: inline-block;
  padding: 0.5em;
  color: var(--clr-primary);
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: var(--clr-accent);
}

/* Buttons */

.btn-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.btn {
  padding: 0.75em 2.5em;
  color: white;
  text-decoration: none;
  display: block;
  margin: 0.5em 0;
  border-radius: 0.35em;
}

.btn-primary {
  background: var(--clr-primary);
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--clr-primary-dark);
}

.btn-accent:hover,
.btn-accent:focus {
  background: var(--clr-accent-dark);
}
.btn-accent {
  background: var(--clr-accent);
}

/* Homepage Styles*/

.hero {
  background-color: rgb(116, 113, 113);
  background-image: url(https://images.pexels.com/photos/331990/pexels-photo-331990.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-align: center;
  background-size: cover;
  padding: 15vh 1em;
}
.section-title-small small {
  font-size: 0.7em;
  line-height: 0.9;
  display: block;
}

.about-us {
  background-color: var(--clr-accent);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0;
}

.about-us__intro {
  background-color: var(--clr-accent);
  background-image: url(https://images.pexels.com/photos/597929/pexels-photo-597929.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  padding: 3em 1em 1.5em;
  background-blend-mode: multiply;
  background-size: cover;
}

.about-us__body {
  padding: 1em 1em 3em;
}
.order-online {
  background: #f0f0f0;
}

.products {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin: 0 auto;
}

.product {
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}
.product__content {
  padding: 1.5em;
}

.product-last-of-type {
  margin-bottom: 3em;
}

.product__title {
  color: var(--clr-primary);
  font-size: 2.5rem;
  margin-bottom: 0.3em;
}

footer {
  background: var(--clr-accent-dark);
  padding: 3em 1em;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 3em;
}

.footer-nav {
  list-style: none;
}

footer a {
  color: inherit;
}
.footer-nav a {
  padding: 0.75em;
  text-decoration: none;
}
.footer-nav a:hover {
  text-decoration: underline;
}

.footer-social a {
  padding: 0.75em;
  text-decoration: none;
}
.footer-social {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 750px) {
  section {
    padding: 6em 1em;
  }

  .about-us {
    flex-direction: row;
  }
  .about-us__intro,
  .about-us__body {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 2em;
  }

  .about-us__intro {
    text-align: right;
  }
  .about-us__intro > * {
    max-width: 25rem;

    margin-left: auto;
  }

  .about-us__body {
    text-align: left;
  }
  .about-us__body > * {
    max-width: 25rem;

    margin-right: auto;
  }

  .order-online > * {
    max-width: 68ch;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-group {
    margin-top: 2em;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
  }

  .btn + .btn {
    margin-left: 0.5em;
  }
  .products {
    flex-direction: row;
    max-width: 1200px;
    padding: 0 5em;
  }
  .product {
    margin: 0;
    flex: 0 1 33%;
  }
  .product + .product {
    margin-left: 1em;
  }
}
